APP_ENV=development
APP_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_NAME=barztify
DB_USER=root
DB_PASS=

ALLOWED_ORIGIN=http://localhost:5173

# Gmail: smtp.gmail.com:587
# Brevo: smtp-relay.brevo.com:587
# Mailtrap: sandbox.smtp.mailtrap.io:587
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=noreply@barztify.com
SMTP_FROM_NAME=Barztify
